/* Provide sufficient contrast against white background */
.App {
  background-image: url(./appbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -5;
  overflow: auto;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.navt:hover {
  transform: scale(1.05);
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.feedback {
  background-color: #343a40;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
