.Flight {
    text-align: center;
    background-image: url(../../backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -5;
}

.Output {
    display: none;
}

.leaflet {
    height: 500px;
    width: 100%;
}

.graph {
    position:a bsolute;
    top: 10px;
    font-size: 20px;
    font-weight: bold; 
    background-color: #d85757;
    padding: 0px 4px;
    color: #ffffff;
}