@page
@model LoginModel

@{
    ViewData["Title"] = "Přihlášení";
}
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="153531049143-mfvdf3t4svse4m5t4tr4b8iup3dheeb9.apps.googleusercontent.com">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/ac3a2e59dc.js" crossorigin="anonymous"></script>
</head>
<style>
    body {
        background-image: url('https://aeroklubliberec.cz/_files/200000654-4f5a34f5a6/IMG_20200717_190459_100.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<!-- Default form login -->
<div class="col-md-6 .offset-md-3 mx-auto d-flex justify-content-center h-100">
    <div class="card my-auto">
        <section>
            <!-- Default form login -->
            <form id="account" method="post" class="text-center border border-light p-5">
                <p class="h4 mb-4">Přihlásit se</p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <!-- Email -->
                <div class="form-group">
                    <input asp-for="Input.UserName" class="form-control mb-4" placeholder="Přihlašovací jméno">
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <!-- Password -->
                <div class="form-group">
                    <input type="password" id="defaultLoginFormPassword" asp-for="Input.Password" class="form-control mb-4" placeholder="Heslo">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="form-group">
                        <div>
                            <!-- Remember me -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" asp-for="Input.RememberMe" id="defaultLoginFormRemember">
                                <label class="custom-control-label" for="defaultLoginFormRemember">Zapamatovat si mě</label>
                            </div>
                        </div>
                        <div>
                            <!-- Forgot password -->
                            <a id="forgot-password" asp-page="./ForgotPassword">Zapomněli jste heslo?</a>
                        </div>
                    </div>
                </div>
                <!-- Sign in button -->
                <div class="form-group">
                    <button class="btn btn-info btn-block my-4" type="submit">Přihlásit se</button>
                </div>
                <!-- Register -->
                <p>
                    Nejste zaregistrován?
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registruj se</a>
                </p>
            </form>
        </section>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}